body {
  background:#421155;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: 50px auto;
}

.clock-holder {
  width: 50%;
  background: #fff;
  border-radius: 15px;
}

.stopwatch {
  padding: 30px 0px;
  text-align: center;
}

.stopwatch span{
  color: #2C3E50;
  display: inline-block;
  font-family: sans-serif;
  font-size: 22px;
  padding: 20px;
  border: 2px solid #2C3E50 ;
  border-radius:  50%;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 128px;
  transition: background .5s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid #C85454;
  border-radius:  10px;

  color: #C85454;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid #b3993e;
  border-radius:  10px;

  color: #b3993e;
}

.stopwatch .stopwatch-btn-blu{
  border: 2px solid #2C3E50;
  border-radius:  10px;

  color: #2C3E50;
}
.stopwatch .stopwatch-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #b3993e;
  border: 2px solid #b3993e;
  color: #fff;
}
.stopwatch .stopwatch-btn-blu:hover {
  background: #2C3E50;
  border: 2px solid #2C3E50;
  color: #fff;
}

.link-project {
  text-align: right;
  padding: 20px 50px;
}

.link-project a {
  color: #09311d;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.app-title {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 700;
  color: #2C3E50;
  text-align: center;
  padding-top: 25px;
}